{namespace je=SpoonerWeb\Justevents\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<ul class="event-list">
		<f:for each="{events}" as="event">
			<li class="event-item h-event">
				<header class="event-header">
					<time class="dt-start" datetime="{event.dateFrom -> f:format.date(format: 'Y-m-d')} {event.timeFrom -> je:time()}">{event.dateFrom -> f:format.date(format: 'd')}.</time><f:if condition="{event.dateFrom -> f:format.date(format: 'dmY')} != {event.dateTo -> f:format.date(format: 'dmY')}">-<time class="dt-end" datetime="{event.dateTo -> f:format.date(format: 'Y-m-d')}  {event.timeTo -> je:time()}">{event.dateTo -> f:format.date(format: 'd')}.</time></f:if>
					<span class="event-datemonth">{event.dateFrom -> f:format.date(format: '%B %Y')}</span>
				</header>
				<div class="event-content">
					<h3 class="event-title">{event.title}</h3>
					<p class="event-details"><je:time onlyHours="1">{event.timeFrom}</je:time>-<je:time onlyHours="1">{event.timeTo}</je:time> <f:translate key="o-clock" /> - {event.location}</p>
					<div class="event-description">{event.description}</div>

					<a href="" class="link-show-more"><f:translate key="more" /></a>

				</div>
			</li>
		</f:for>
	</ul>
</f:section>