{namespace je=SpoonerWeb\Justevents\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<ul class="event-list">
		<f:for each="{events}" as="event">
			<li class="event-item h-event">
				<time class="dt-start" datetime="{event.dateFrom -> f:format.date(format: 'Y-m-d')}">{event.dateFrom -> f:format.date(format: 'd.m.')}</time><f:if condition="{event.dateTo}"><f:if condition="{event.dateFrom -> f:format.date(format: 'dmY')} != {event.dateTo -> f:format.date(format: 'dmY')}">-<time class="dt-end" datetime="{event.dateTo -> f:format.date(format: 'Y-m-d')}">{event.dateTo -> f:format.date(format: 'd.m.')}</time></f:if></f:if><br>
				{event.title}
			</li>
		</f:for>
	</ul>
</f:section>